*, html, body{
    margin: 0px;
    padding: 0px;
    overflow-x:auto;
    font-family: 'Poppins', sans-serif;
}
header nav{
    width: 100%;
}
header nav a{
    position: relative;
    float:left;
    margin: 10px 80px;
}
header nav ul {
    float: right;
    display: flex;
    margin: 27px 80px;
}
header nav ul li a{
    font-size: 18px;
    margin: 0px 20px;
}
header nav ul li{
    display:block;
}
header nav ul li ul{
    display: none;
    position: absolute;
    background-color: #fff;
    max-width: 200px;
    box-shadow: 0px 8px 8px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 20px;
    padding: 0px;
}
header nav ul li ul a {
    padding: 0px 2px;
    text-decoration: none;
    display: block;
    color: rgb(128, 128, 128) !important;
}
header nav ul li ul a:hover {color: black !important;}
header nav ul li:hover ul{display:block;}
li, a{
    text-decoration: none;
    color: rgb(128, 128, 128);
}
.active a{
    color: black;
}
a:hover{
    color:black;
}
.menu-trigger{
    display: none;
}
.thumb-home{
    margin-bottom:20px;
}
.thumb-home center{
    background-image: linear-gradient(rgba(0, 0, 0, 0.41), rgba(0, 0, 0, .41)), url('../img/hero.jpg');
}
.thumb-contact center{
    background-image: linear-gradient(rgba(0, 0, 0, 0.41), rgba(0, 0, 0, .41)), url('../img/contact.jpg');
}
.thumb-home center,.thumb-contact center {
    background-size: 100% 600px;
    background-repeat: no-repeat;
    max-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-bottom: 20px;
    display: block;
}
.thumb-home center h4, .thumb-contact center h4{
    font-size: 52px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}
.thumb-home center p{
    font-size: 18px;
    font-style: italic;
    margin-bottom: 20px;
    color: white;
}
button{
    background-color: transparent;
    padding: 10px 20px;
    border: 2px solid white;
}
.thumb-home center a button{
    color:#fff;
    font-size: 18px;
}
.thumb-home center a:hover button{
    background-color: white;
    color: black;
    cursor: pointer;
}
.explore{
    margin: 70px 0px;
}
.explore .left-content{
    float: left;
    width: 40%;
    margin: 20px 80px;
}
.explore .left-content p {
    color: #aaa;
    margin: 25px 2px;
    font-size: 14px;
    font-weight: 500;
}
.explore .left-content a button,
.container center a button,
.products .sidebar center a button{
    background-color: transparent;
    padding: 10px 20px;
    border: 2px solid black;
    color: black;
    font-size: 18px;
}
.products .sidebar center a button{
    font-size: 15px;
    margin: 20px 0px;
}
.explore .left-content a:hover button,
.container center a:hover button,
.products .sidebar center a:hover button{
    background-color: black;
    color: white;
    cursor: pointer;
}
q{
    font-style: italic;
    font-size: 14px;
    font-weight: 500;
}
.explore .right-content{
    float: right;
    margin: 20px 80px;
}
.explore .right-content .top,
.explore .right-content .bottom{
    display: flex;
}
.explore .right-content .top center{
    width: 200px;
    color: black;
    background-color: #f8f8f8;
    padding-top: 19%;
    padding-bottom: 0px;
    margin: 10px;
    max-height: max-content;
}
h4{
    font-size: 20px;
}
h2{
    font-size: 34px;
}
span{
    color: #aaa;
    font-style: italic;
    font-size: 14px;
}
.explore .right-content .top figure{
    margin: 10px;
    height: 200px;
    overflow-y: hidden;
}
.explore .right-content .top figure img{
    height: 200px;
}
.contact-us,.subscribe{
    display: flex;
    padding: 50px 0px;
}
.contact-us .map,
.subscribe .info{
    margin: 20px 0px;
    margin-left: 80px;
}
.subscribe .info{
    display: flex;
}
.subscribe .info div {
    margin: 0px 20px;
}
.subscribe .info li{
    color: black;
    font-weight: 700;
    font-size: 15px;
    margin: 10px 0px;
}
.subscribe .info li span{
    color: #aaa;
    font-weight: 100;
    font-size: 10px;
}
.subscribe .container{width:40%;}
.contact-us .map iframe{
    width: 600px;
    height: 400px;
}
.contact-us .container,
.subscribe .container{
    margin: 20px 0px;
    margin-left: 80px;
}
.contact-us .container form .top,
.subscribe .container form .top{
    display: flex;
    justify-content: space-between;
}
.contact-us .container form fieldset,
.subscribe .container form fieldset{
    margin: 10px;
    border: 1px solid #fff;
}
.contact-us .container form fieldset > *,
.subscribe .container form fieldset > *{
    min-width: 220px;
    padding: 10px 20px;
    font-size: 15px;
    border: 1px solid #646464;
    border-radius:30px;
}
.contact-us .container form fieldset button,
.subscribe .container form fieldset button{
    min-width: 30px;
    color: white;
    background-color: black;
    padding: 5px 10px;
}
.container .items{
    display: flex;
    justify-content: center;
    margin: 10px 80px;
    margin-bottom: 30px;
    overflow: hidden;
}
.container .items div{
    margin:0px 30px;
    background-size: 400px 400px;
    width: 400px;
    height: 250px;
    background-repeat: no-repeat;
    color: white;
    padding: 150px 20px 20px 20px;
    text-align: center;
    flex: 0 0 400px;
}
.container .items div span{
    color:white;
    font-size: 18px;
}
.container .items div h3{
    font-size: 30px;
}
.container .items div p{
    font-size: 20px;
}
.container center{
    background-color: transparent;
    color: black;
    padding: 20px 0px;
}
.container .items div center button{
    color:white;
    background-color: black;
    border: 1px solid black;
    font-size: 18px;
    cursor: pointer;
}
footer, .last{
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: #2a2a2a;
    color: white;
    padding: 0px;
}
footer a{
    color:rgb(195, 195, 195);
}
footer a:hover, center a:hover{
    color:rgb(255, 255, 255);
}
footer .company{
    float: left;
    margin: 20px 80px;
}
footer .company *{
    margin: 10px 0px;
}
footer .menu *{
    margin: 10px 0px;
}
footer .menu{
    display: flex;
    float: right;
    margin: 10px 80px;
}
footer .menu div {
    margin: 20px;
}
center ul{
    display: flex;
    width: 10%;
    justify-content: space-around;
    margin: 10px 0px;
}
.products {
    display: flex;
    margin: 20px 0px;
}
.products .container .items{
    display: flex;
    justify-content: left;
    margin: 10px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.products .container .items div{
    margin:20px;
    background-size: 300px 350px;
    width: 300px;
    max-height: 250px;
    background-repeat: no-repeat;
    color: white;
    padding: 100px 10px 20px 10px;
    text-align: center;
    flex: 0 0 300px;
}
.container .items a{
    color: white !important;
}
.container .items a:hover{
    color: white !important;
    text-decoration: underline;
}

.products .sidebar {
    margin: 20px 80px;
    max-width: 350px;
    min-width: 200px;
}
.products .sidebar ul, .products .sidebar li, .products .sidebar input[type=checkbox]{
    margin: 0px 5px 5px 5px;
}
.products .sidebar input[type=checkbox]:hover{
    cursor: pointer;
}
.products .sidebar .categories h4{
    margin: 5px 0px;
    font-size: 16px;
}
.products .sidebar .categories .range{
    margin: 5px;
    display: flex;
    justify-content: space-between;
}
.products .sidebar .categories .range .slider:focus{
    cursor: pointer;
}
.products .sidebar button#i{
    color: black;
    background-color: transparent;
    border: 2px solid black;
    font-size: 15px;
    padding: 5px 10px;
    margin: 0px 10px 10px 120px;
}
.products .sidebar button#i:hover{
    color: white;
    background-color: black;
    border: 2px solid black;
    cursor: pointer;
}
.register_form{
    margin: 50px auto;
    max-width: 25%;
    padding: 20px 30px 30px 30px;
    border: 1px solid black;
    border-radius: 60px;
    color: white;
    background-color: #366a69;
}
.register_form h2{
    text-align: center;
    padding-bottom: 20px;
}
.register_form form span,
.register_form form ul li{
    color: rgb(193, 193, 193);
    font-size: 10px;
}
.register_form form input[type=submit]{
    color: white;
    background-color: black;
    padding: 5px 10px;
    margin: 10px 38%;
    max-width: 80px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 3px 3px 3px rgb(83, 83, 83);
    font-size: 15px;
}
.register_form form input[type=submit]:hover{
    box-shadow: 0px 0px 0px rgb(112, 112, 112);
    background-color: white;
    border: 1px solid rgb(255, 255, 255);
    color:black;
}
.register_form form p input{
    width: 156px;
    padding: 2px 12px;
    border: 1px solid #ccc;
    border-radius: 25px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
.register_form form p input:focus{
    border: 1px solid #ccc;
}