*, html, body{
    margin: 0px;
    padding: 0px;
    overflow-x:auto;
    font-family: 'Poppins', sans-serif;
}
header nav{
    width: 100%;
}
header nav a{
    position: relative;
    float:left;
    margin: 10px 80px;
}
header nav ul {
    float: right;
    display: flex;
    margin: 27px 80px;
}
header nav ul li a{
    font-size: 18px;
    margin: 0px 20px;
}
header nav ul li{
    display:block;
}
header nav ul li ul{
    display: none;
    position: absolute;
    background-color: #fff;
    max-width: 200px;
    box-shadow: 0px 8px 8px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: 20px;
    padding: 0px;
}
header nav ul li ul a {
    padding: 0px 2px;
    text-decoration: none;
    display: block;
    color: rgb(128, 128, 128) !important;
}
header nav ul li ul a:hover {color: black !important;}
header nav ul li:hover ul{display:block;}
li, a{
    text-decoration: none;
    color: rgb(128, 128, 128);
}
.active a{
    color: black;
}
a:hover{
    color:black;
}
.menu-trigger{
    display: none;
}
.thumb-home{
    margin-bottom:20px;
}
.thumb-home center{
    background-image: linear-gradient(rgba(0, 0, 0, 0.41), rgba(0, 0, 0, .41)), url('../img/hero.jpg');
}
.thumb-contact center{
    background-image: linear-gradient(rgba(0, 0, 0, 0.41), rgba(0, 0, 0, .41)), url('../img/contact.jpg');
}
.thumb-home center,.thumb-contact center {
    background-size: 100% 600px;
    background-repeat: no-repeat;
    max-height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;
    margin-bottom: 20px;
    display: block;
}
.thumb-home center h4, .thumb-contact center h4{
    font-size: 52px;
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
}
.thumb-home center p{
    font-size: 18px;
    font-style: italic;
    margin-bottom: 20px;
    color: white;
}
button{
    background-color: transparent;
    padding: 10px 20px;
    border: 2px solid white;
    font-size: 18px;
}
.thumb-home center a button{
    color:#fff;
}
.thumb-home center a:hover button{
    background-color: white;
    color: black;
    cursor: pointer;
}
.explore{
    margin: 70px 0px;
}
.explore .left-content{
    float: left;
    width: 40%;
    margin: 20px 80px;
}
.explore .left-content p {
    color: #aaa;
    margin: 25px 2px;
    font-size: 14px;
    font-weight: 500;
}
.explore .left-content a button,
.container center a button,
.products .sidebar center a button{
    background-color: transparent;
    padding: 10px 20px;
    border: 2px solid black;
    color: black;
    font-size: 18px;
}
.products .sidebar center a button{
    font-size: 15px;
    margin: 20px 0px;
}
.explore .left-content a:hover button,
.container center a:hover button,
.products .sidebar center a:hover button{
    background-color: black;
    color: white;
    cursor: pointer;
}
q{
    font-style: italic;
    font-size: 14px;
    font-weight: 500;
}
.explore .right-content{
    float: right;
    margin: 20px 80px;
}
.explore .right-content .top,
.explore .right-content .bottom{
    display: flex;
}
.explore .right-content .top center{
    width: 200px;
    color: black;
    background-color: #f8f8f8;
    padding-top: 19%;
    padding-bottom: 0px;
    margin: 10px;
    max-height: max-content;
}
h4{
    font-size: 20px;
}
h2{
    font-size: 34px;
}
span{
    color: #aaa;
    font-style: italic;
    font-size: 14px;
}
.explore .right-content .top figure{
    margin: 10px;
    height: 200px;
    overflow-y: hidden;
}
.explore .right-content .top figure img{
    height: 200px;
}
.contact-us,.subscribe{
    display: flex;
    padding: 50px 0px;
}
.contact-us .map,
.subscribe .info{
    margin: 20px 0px;
    margin-left: 80px;
}
.subscribe .info{
    display: flex;
}
.subscribe .info div {
    margin: 0px 20px;
}
.subscribe .info li{
    color: black;
    font-weight: 700;
    font-size: 15px;
    margin: 10px 0px;
}
.subscribe .info li span{
    color: #aaa;
    font-weight: 100;
    font-size: 10px;
}
.subscribe .container{width:40%;}
.contact-us .map iframe{
    width: 600px;
    height: 400px;
}
.contact-us .container,
.subscribe .container{
    margin: 20px 0px;
    margin-left: 80px;
}
.contact-us .container form .top,
.subscribe .container form .top{
    display: flex;
    justify-content: space-between;
}
.contact-us .container form fieldset,
.subscribe .container form fieldset{
    margin: 10px;
    border: 1px solid #fff;
}
.contact-us .container form fieldset > *,
.subscribe .container form fieldset > *{
    min-width: 220px;
    padding: 10px 20px;
    font-size: 15px;
    border: 1px solid #646464;
    border-radius:30px;
}
.contact-us .container form fieldset button,
.subscribe .container form fieldset button{
    min-width: 30px;
    color: white;
    background-color: black;
    padding: 5px 10px;
}
.container .items{
    display: flex;
    justify-content: center;
    margin: 10px 100px;
    margin-bottom: 30px;
    overflow: hidden;
}
.container .items div{
    margin:0px 30px;
    background-size: 400px 400px;
    width: 400px;
    height: 250px;
    background-repeat: no-repeat;
    color: white;
    padding: 150px 20px 20px 20px;
    text-align: center;
    flex: 0 0 400px;
    transition: all 1s;
}
.container .items div span{
    color:white;
    font-size: 18px;
}
.container .items div h3{
    font-size: 30px;
}
.container .items div p{
    font-size: 20px;
}
.container center{
    background-color: transparent;
    color: black;
    padding: 20px 0px;
}
.container .items div center button{
    color:white;
    background-color: black;
    border: 1px solid black;
    font-size: 18px;
    cursor: pointer;
}

footer, .last{
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: #2a2a2a;
    color: white;
    padding: 0px;
}
footer a{
    color:rgb(195, 195, 195);
}
footer a:hover, center a:hover{
    color:rgb(255, 255, 255);
}
footer .company{
    float: left;
    margin: 20px 80px;
}
footer .company *{
    margin: 10px 0px;
}
footer .menu *{
    margin: 10px 0px;
}
footer .menu{
    display: flex;
    float: right;
    margin: 10px 80px;
}
footer .menu div {
    margin: 20px;
}
center ul{
    display: flex;
    width: 10%;
    justify-content: space-around;
    margin: 10px 0px;
}
.products {
    display: flex;
    margin: 20px 0px;
}
.products .container .items{
    display: flex;
    justify-content: left;
    margin: 10px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}
.products .container .items div{
    margin:20px;
    background-size: 300px 350px;
    width: 300px;
    max-height: 250px;
    background-repeat: no-repeat;
    color: white;
    padding: 100px 10px 20px 10px;
    text-align: center;
    flex: 0 0 300px;
}
.container .items a{
    color: white !important;
}
.container .items a:hover{
    color: white !important;
    text-decoration: underline;
}

.products .sidebar {
    margin: 20px 80px;
    max-width: 350px;
    min-width: 200px;
}
.products .sidebar ul, .products .sidebar li, .products .sidebar input[type=checkbox]{
    margin: 0px 5px 5px 5px;
}
.products .sidebar input[type=checkbox]:hover{
    cursor: pointer;
}
.products .sidebar .categories h4{
    margin: 5px 0px;
    font-size: 16px;
}
.products .sidebar .categories .range{
    margin: 5px;
    display: flex;
    justify-content: space-between;
}
.products .sidebar .categories .range .slider:focus{
    cursor: pointer;
}
.products .sidebar button#i{
    color: black;
    background-color: transparent;
    border: 2px solid black;
    font-size: 15px;
    padding: 5px 10px;
    margin: 0px 10px 10px 120px;
}
.products .sidebar button#i:hover,
.bill button{
    color: white;
    background-color: black;
    border: 2px solid black;
    cursor: pointer;
}
.register_form{
    margin: 50px auto;
    max-width: 25%;
    padding: 20px 30px 30px 30px;
    border: 1px solid black;
    border-radius: 60px;
    color: white;
    background-color: #366a69;
}
.register_form h2{
    text-align: center;
    padding-bottom: 20px;
}
.register_form form span,
.register_form form ul li{
    color: rgb(193, 193, 193);
    font-size: 10px;
}
.register_form form input[type=submit]{
    color: white;
    background-color: black;
    padding: 5px 10px;
    margin: 10px 38%;
    max-width: 80px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 3px 3px 3px rgb(83, 83, 83);
    font-size: 15px;
}
.register_form form input[type=submit]:hover{
    box-shadow: 0px 0px 0px rgb(112, 112, 112);
    background-color: white;
    border: 1px solid rgb(255, 255, 255);
    color:black;
}
.register_form form p input{
    width: 156px;
    padding: 2px 12px;
    border: 1px solid #ccc;
    border-radius: 25px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}
.register_form form p input:focus{
    border: 1px solid #ccc;
}
.container .items div center .view-cart{
    background-color: white;
    color:black;
    border: 1px solid white;
}

.cart {
    margin: 30px auto;
    width: 70%;
    gap: 0px;
}

.cart tr td{
    text-align:center;
    padding: 10px;
}
.cart tr th
{
    padding: 15px;
    color: white;
    background-color: black;
    border: 1px solid black;
}

.cart tr:nth-child(2n+1) td,
.bill div:nth-child(2n+1) {
    background-color:#c7c7c7;
}
.cart tr:nth-child(2n) td,
.bill div:nth-child(2n) {
    background-color:#f0f0f0;
}
.cart tr td input[type=number]{
    width: 30px;
    height: 20px;
    padding: 2px 7px;
    color: rgb(71, 71, 71);
}
.update{
    float: right;
    margin-right: 230px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-bottom: 30px;
    margin-top: -20px;
}
.bill, .details {
    margin: 30px 0px;
    width: 30%;
    text-align: center;
}
.bill{
    float:left;
    margin-left: 230px;
}
.details{
    float: right;
    margin-right: 230px;
    background-color: #f7f7f7;
}
.details p {
    text-align: left;
    padding-left: 70px;
    font-size: 18px;
    margin: 10px 0px;
}
.details p input, .personal-details p input{
    margin-left: 20px;
    padding: 2px 10px;
    border: 1px solid #c7c7c7;
    border-radius: 20px;
    font-size: 15px;
}
.bill div{
    padding: 10px 20px;
}
.bill div p:first-child{
    float: left;
    margin-left: 20px;
}
.bill div p:last-child{
    float: right;
    margin-right: 20px;
}
.bill h3, .details h3{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 15px;
}
.bill div span{
    padding: 0px 5px;
    text-decoration: none;
    font-style: normal;
    font-size: 18px;
    color: black;
}
.bill button{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 23px;
}
.empty{
    margin: 5px auto;
    width: 67.8%;
    text-align: center;
    background-color: #f7f7f7;
    padding: 15px;
    margin-top: -30px;
    margin-bottom: 222px;
}
.cart tbody tr td i{
    cursor:pointer;
}

.bill .payment{
    background-color: #f0f0f0 !important;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 5px;
}
.error{
    display: none;
    background-color: #ffffff !important;
    padding:0px;
    color: red;
    font-size: 15px;
}

.thankyou{
    width: 40%;
    margin: 30px auto;
    text-align: center;
    margin-bottom: 210px;
}
.thankyou h3{
    font-size: 30px;
}
.thankyou p{
    font-size: 25px;
    color: #c7c7c7;
    font-style: italic;
}
.single-product{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    width: 45%;
}
.info button{
    background-color: black;
    color: white;
    margin: 10px 0px;
    cursor: pointer;
    width: 250px;
}
.info .view-cart{
    background-color: #dddddd;
    color: black;
}
.info h3{
    font-size: 35px;
}
.info p, .info span{
    font-size: 20px;
    margin: 5px 0px;
}
.fav-add{
    color: red !important;
}
.con{
    display: flex;
    margin: 30px auto;
    width: 70%;
    justify-content: space-between;
    min-height:500px;
}
.con .left{
    width: 78%;
}
.con .menu-con{
    background-color: #e9e9e9;
    padding: 0px;
    height: max-content;
}

.con .menu-con .menu{
    padding: 10px 30px;
    font-size: 20px;
    width: 170px;
    cursor: pointer;
}
.con .menu-con .active{
    background-color: black;
    color: white;
}
.personal-details{
    margin: 30px auto;
    width: 50%;
    text-align: center;
    background-color: #efefef;
    padding-bottom: 20px;
}
.personal-details h3{
    font-size: 35px;
    background-color: black;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}
.personal-details p{
    font-size: 22px;
    padding: 5px;
}
.view-order{
    font-size: 15px;
    background-color: white;
    color: black;
    padding: 5px 10px;
    cursor: pointer;
}
.profile{
    width: 100% !important;
}
.content .items{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}
.content .items div{
    flex: 0 0 20%;
    color: white;
    margin: 10px 20px;
    height: 190px;
    width: 100px;
    background-size: 227px 249px;
    padding: 30px;
    text-align: center;
    font-size:18px;
}
.content .items div a h3{
    padding-top:40px;
    color: white;
    font-size: 22px;
}
.content .items div a:hover h3{
    color: #c7c7c7;
}
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1B242F; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #04C2C9; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover{
    background: #04C2; 
}
.left-arrow,
.right-arrow{
    display: block;
    margin: 30px auto;
    width: 25px;
    height: 25px;
    border-top: 2px solid #000;
    border-left: 2px solid #000;
    cursor: pointer;
    position: absolute;
}
.left-arrow{
    top:45%;
    left: 50px;
    transform: rotate(-45deg);
}
.right-arrow{
    top:45%;
    right: 50px;
    transform: rotate(135deg);
}
.container .items div:first-child{
    margin-left:0px;
}