{% extends "base.html" %}
{% block title %}
  {{title}}
{% endblock %}
{% block content %}
{% load static %}
{% csrf_token%}
  <table class="cart" id="cart">
    <tr>
      <th>Delete Item</th>
      <th>Name</th>
      <th>Quantity</th>
      <th>Each Price</th>
    </tr>
    {% if cart_items %}
      {% for i in cart_items %}
      <tr id="{{i.id}}">
        <td><i class="fa fa-trash" id="{{i.id}}"></i></td>
        <td>{{i.name}}</td>
        <td><input type="number" name="quantity" id="quantity-{{i.id}}" value="{{i.quantity}}" min="1" max="10"></td>
        <td id="price-{{i.id}}">{{i.price}}</td>
      </tr>
      {% endfor %}
    {% endif %}
  </table>
  {% if not cart_items %}
    <div class="empty">
      <p>0 items Added</p>
    </div>
  {% endif %}

  {% if cart_items %}
    <button type="button" class="update" id="update">Update Cart</button>
    <div class="bill">
      <h3>Full Billing</h3>
      {% for i in cart_items %}
        <div id="{{i.id}}">
          <p><span id="name">{{i.name}}</span>x<span id="quantity-{{i.id}}">{{i.quantity}}</span></p>
          <p><span id="price-{{i.id}}">{% widthratio i.quantity 1 i.price %}</span></p>
        </div>
      {% endfor %}
      <div id="total">
        <p><span id="name">Total Cart Value :</span></p>
        <p><span id="price-total">{{total}}</span></p>
      </div>
      <a href="{% url 'checkout' %}"><button type="button">Proceed to Checkout</button></a>
    </div>
  {% endif %}
  <script>
    var a = null;
    var csrftoken = $('[name="csrfmiddlewaretoken"]').val();
    var cart = "{% url 'cart' %}";
  </script>
{% endblock %}
{% block categories %}
        {% for i in c %}
          <li><a href="{% url 'taxonomy' i.slug %}">{{i.name}}</a></li>
        {% endfor %}
        <script>
            var cart = "{% url 'cart' %}";
        </script>
{% endblock %}
{% block brands %}
        {% for j in b %}
        <li><a href="{% url 'taxonomy' j.slug %}">{{j.name}}</a></li>
        {% endfor %}
{% endblock %}