{% extends "base.html" %}
{% block title %}
  {{title}}
{% endblock %}
{% block content %}
{% load static %}
  <table>
    <tr>
      <th>Action</th>
      <th>Name</th>
      <th>Quantity</th>
      <th>total price</th>
    </tr>
    {% if cart_items %}
      {% for i in cart_items %}
      <tr id="{{i.id}}">
        <td><i class="fa fa-trash"></i></td>
        <td>{{i.name}}</td>
        <td><input type="number" name="quantity" id="{{i.id}}" value="{{i.quantity}}" min="1" max="10"></td>
        <td id="{{i.id}}">{{i.price}}</td>
      </tr>
      {% endfor %}
    {% else %}
      <tr>0 Items Added</tr>
    {% endif %}
  </table>
{% endblock %}
{% block categories %}
        {% for i in c %}
          <li><a href="{% url 'taxonomy' i.slug %}">{{i.name}}</a></li>
        {% endfor %}
        <script>
            var cart = "{% url 'cart' %}";
        </script>
{% endblock %}
{% block brands %}
        {% for j in b %}
        <li><a href="{% url 'taxonomy' j.slug %}">{{j.name}}</a></li>
        {% endfor %}
{% endblock %}