{% extends "base.html" %}
{% block title %}
  {{title}}
{% endblock %}
{% block content %}
{% load static %}
    <h1>{{username}} welcome back!</h1>
{% endblock %}
{% block categories %}
        {% for i in c %}
        <li><a href="{% url 'taxonomy' i.slug %}">{{i.name}}</a></li>
        {% endfor %}
        <script>
            var cart = "{% url 'cart' %}";
        </script>
{% endblock %}
{% block brands %}
        {% for j in b %}
        <li><a href="{% url 'taxonomy' j.slug %}">{{j.name}}</a></li>
        {% endfor %}
{% endblock %}