{% extends "base.html" %}
{% block title %}
  {{title}}
{% endblock %}
{% block content %}
{% load static %}
    <div class="thumb-home">
        <center>
            <h4>We Are Hexashop</h4>
            <p>Awesome, Ethnic &amp; Creative Fashion Designs</p>
            <a href="{% url 'shop' %}">
              <button>Shop Now!</button>
            </a>
        </center>
    </div>
    <section class="container">
      <center><h2>Shop By Categories</h2></center>
      <div class="items" {% if c_center == 1 %} style="justify-content:left;; margin-left: 5px;" {% endif %}>
        {% for i in c %}
          <div style="background-image:url('{{media_link}}{{i.featured_image}}');max-width: 360px;">
            <a href="{% url 'taxonomy' i.slug %}"><h3>{{i.name}}</h3></a>
            <p>{{i.description}}</p>
            <span>Products: {{i.num_products}} </span><br>
          </div>
        {% endfor %}
      </div>
    </section>
    <section class="container">
      <center><h2>Popular Products</h2></center>
      <div class="items" {% if p_center == 1 %} style="justify-content:left;margin-left:70px;" {% endif %}>
        {% for j in p %}
          <div style="background-image:linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)),url('{{media_link}}{{j.featured_image}}');max-width: 360px;">
            <h3>{{j.name}}</h3>
            <p>price: {{j.price}} INR </p>
            <p><i class="fa fa-star" style="font-size: 18px;"></i> {{j.rating}} out of 5</p>
            <p>{{j.category}}, {{j.brand}}</p>
            {% if login == 1 %}
              <center id="{{j.id}}"><button type="button" class="add-to-cart" id="{{j.id}}">Add to Cart</button></center>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      {% if login == 0 %}
        <center><a href="{% url 'login' %}"><button>Log In To Purchase</button></a></center>
      {% endif %}
    </section>
    <section class="container">
      <center><h2>Top Brands</h2></center>
      <div class="items" {% if b_center == 1 %} style="justify-content:left;; margin-left: 50px;" {% endif %}>
        {% for i in b %}
          <div style="background-image:linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)),url('{{media_link}}{{i.featured_image}}');max-width: 360px;">
            <a href="{% url 'taxonomy' i.slug %}"><h3>{{i.name}}</h3></a>
            <p>{{i.description}}</p>
            <span>Products: {{i.num_products}} </span><br>
          </div>
        {% endfor %}
      </div>
    </section>
    <section class="explore">
        <div class="left-content">
          <h2>Explore Our Products</h2>
          <p>Beyond our commitment to fashion, we are also deeply committed to sustainable and ethical practices. We believe in minimizing our environmental impact and promoting fair labor practices throughout our supply chain. When you choose <em>Hexashop</em>, you can feel good about supporting a company that cares about the planet and its people.</p>
          <q>Cras gravida, leo quis lobortis tristique, sem dui consequat nunc, sit malesuada.</q>
          <p>We are dedicated to maintaining the highest standards of craftsmanship and ensuring that every garment that leaves our facilities is of impeccable quality. Our rigorous quality control processes ensure that our products exceed the expectations of our valued customers.</p>
          <p>Discover the latest trends and timeless classics with [Garments Company Name]. Experience fashion redefined.</p>
          <a href="{% url 'shop' %}">
            <button>Discover More</button>
          </a>
        </div>
        <div class="right-content">
          <div class="top">
            <center>
              <h4>Leather Bags</h4>
              <span>Latest Collection</span>
            </center>
            <figure>
              <img src="{% static 'img/explore-image-01.jpg' %}" alt="website template image">
            </figure>
          </div>
          <div class="top">
            <figure>
              <img src="{% static 'img/explore-image-02.jpg' %}" alt="website template image">
            </figure>
            <center>
              <h4>Different Types</h4>
              <span>Over 304 Products</span>
            </center>
          </div>
        </div>
      </section>
      <script>
        var a = "{{title}}";
        var cart = "{% url 'cart' %}";
      </script>
{% endblock %}
{% block categories %}
      {% for i in c %}
        <li><a href="{% url 'taxonomy' i.slug %}">{{i.name}}</a></li>
      {% endfor %}
{% endblock %}
{% block brands %}
      {% for j in b %}
        <li><a href="{% url 'taxonomy' j.slug %}">{{j.name}}</a></li>
      {% endfor %}
{% endblock %}