{% extends "base.html" %}
{% block title %}
  {{title}}
{% endblock %}
{% block content %}
{% load static %}
  <section>
    <center><h2>Shopping Crate</h2></center>
    <div class="products">
      <div class="sidebar">
        {% if c %}
          <div class="categories">
            <h4>Categories</h4>
            <ul>
              {% for i in c %}
                <li><input type="checkbox" name="{{i.name}}" class="categories" id="{{i.name}}" value="{{i.name}}">{{i.name}}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        {% if b %}
          <div class="categories">
            <h4>Brands</h4>
            <ul>
              {% for j in b %}
                <li><input type="checkbox" name="{{j.name}}" class="brands" id="{{j.name}}" value="{{j.name}}">{{j.name}}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
        <button id="i">Filter</button>
        <div class="categories">
          <h4>Price Range</h4>
          <div class="range">
            <input type="range" min="{{min}}" value="{{max}}" max="{{max}}" class="slider" id="price-range"><output></output>
          </div>
        </div>
      </div>
      <div class="container" id="container">
        <div class="items">
          {% for j in p %}
            <div style="background-image:linear-gradient(rgb(0,0,0,0.5),rgb(0,0,0,0.5)),url('{{media_link}}{{j.featured_image}}');">
              <h3 id="name">{{j.name}}</h3>
              <p class="price">price: {{j.price}} INR </p>
              <p class="rating"><i class="fa fa-star" style="font-size: 18px;"></i> {{j.rating}} out of 5</p>
              <p><span class="category">{{j.category}}</span>, <span class="brand">{{j.brand}}</span></p>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  {% csrf_token %}
  <script>
    var a = "{{title}}";
    var url = "{% url 'shop' %}";
    var csrftoken = $('[name="csrfmiddlewaretoken"]').val();
    var media_link = "{{media_link}}";
  </script>
{% endblock %}
{% block categories %}
      {% for i in c %}
        <li><a href="#">{{i.name}}</a></li>
      {% endfor %}
{% endblock %}
{% block brands %}
      {% for j in b %}
        <li><a href="#">{{j.name}}</a></li>
      {% endfor %}
{% endblock %}